<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="OTeachingConnectionString" connectionString="Data Source=APL-5CD139516Q;Initial Catalog=OTeaching;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    <!--<add name="OTeachingConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=OTeaching;Integrated Security=True"
   providerName="System.Data.SqlClient" />-->
    <!--<add name="OTeachingConnectionString"
     connectionString="Server=tcp:oteaching.database.windows.net,1433;Initial Catalog=OTeaching;Persist Security Info=False;User ID=OTeaching;Password=8@12A3kx2j4hf;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
     providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>